<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APP打包失败</title>
  </head>
  <body>
    <p>APP打包失败</p>
    <p>详情：{{ .Msg }}</p>
  </body>
</html>